
body {
	background-color: black;
}

#list_surround {
	font-size: 14px;
    background-color: black;
    color: lime;
    font-family: Consolas, monospace;
	width: 80%;
	margin: 0 auto;
}

#list_surround a:link, #list_surround a:visited {
    text-decoration: none;
    color: lime;
}

#list_surround .td1 {
	background-color: #333;
}
#list_surround .td2 {
	background-color: #222;
}
#list_surround .td1:nth-child(3),
#list_surround .td2:nth-child(3) {
	padding: 0em .5em;
	white-space: nowrap;
}

#list_surround a:active {
    color: red;
}

#list_surround .header_title {
    text-decoration: underline;
}

.animetitle + small {
    color: gray;
}

#list_surround .category_totals, #grand_totals {
    display: none;
}

#copyright {
    padding-bottom: .5rem;
}