#more11{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/117681.jpg);}
#more28107{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/159576.jpg);}
#more1061{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/97267.jpg);}
#more7776{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/149212.jpg);}
#more698{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/145061.jpg);}
#more17536{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/52897.jpg);}
#more35003{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/82656.jpg);}
#more676{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/32468.jpg);}
#more598{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/198604.jpg);}
#more13{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/55539.jpg);}
#more651{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/156624.jpg);}
#more77273{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/181265.jpg);}
#more44155{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/187708.jpg);}
#more318{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/50533.jpg);}
#more13254{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/122543.jpg);}
#more42{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/54545.jpg);}
#more87866{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/161762.jpg);}
#more36213{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/161910.jpg);}
#more696{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/28906.jpg);}
#more18597{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/137969.jpg);}
#more1143{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/51335.jpg);}
#more97372{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/176340.jpg);}
#more95210{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/181968.jpg);}
#more75989{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/141381.jpg);}
#more25861{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/100067.jpg);}
#more50145{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/185905.jpg);}
#more57239{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/121555.jpg);}
#more564{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/27979.jpg);}
#more41733{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/5/86311.jpg);}
#more34377{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/188789.jpg);}
#more25297{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/102683.jpg);}
#more3866{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/28128.jpg);}
#more49967{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/158559.jpg);}
#more45757{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/115803.jpg);}
#more49661{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/3/112467.jpg);}
#more67315{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/1/160165.jpg);}
#more735{ background-image: url(https://myanimelist.cdn-dena.com/images/manga/2/94599.jpg);}
