@import "http://dl.dropbox.com/u/49469857/MAL/premade/anime.css";
@import "https://dl.dropbox.com/s/6ruszt29qyk3yzi/SakorasouTopBar.css";


/*
HOW TO USE
Use and COMPLETE this simple tutorial if you never installed CSS, it only takes a few minutes:
http://myanimelist.net/forum/?topicid=200320


When you're done with the tutorial and can see the starter layout on your list, copy and paste this entire page of codes (including this part and the codes above and below) 
to your CSS edit box (the box titled Edit Advanced CSS File) replacing any other codes in the box. 
Save with the blue button at the bottom. It will put this premade layout on your list instead of the starter one from the tutorial! 


If the layout looks weird on your list after installing, you can try to alter your settings here.
Common solutions are to set Default Status Settings to Watching or All Anime, check or uncheck tags (make sure you save afterwards):
http://myanimelist.net/editprofile.php?go=listpreferences


If your list still has problems you can ask us about it here, or other questions:
http://myanimelist.net/forum/?topicid=200323


And you'll find further ways to customize your list here:
http://myanimelist.net/forum/?topicid=419405

*/

body {
background-attachment:fixed;
background-clip:border-box;
background-color:transparent;
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/colorful-pencils-hd-wallpapers_zps672e9481.jpg);
background-position:0 50%, 0 0;
background-repeat:no-repeat no-repeat;
background-size:cover;
font-family:calibri;
}
#inlineContent {
display:inline-block !important;
height:1200px !important;
left:0 !important;
margin:auto !important;
position:fixed !important;
right:0 !important;
top:0 !important;
width:1200px !important;
z-index:-1 !important;
}
#list_surround {
background-attachment:scroll;
background-color:transparent;
background-image:url(http://i48.tinypic.com/23r0fhg.png);
background-position:40px -10px;
background-repeat:no-repeat no-repeat;
font-size:87%;
line-height:1;
margin:0 auto;
padding-bottom:10px;
padding-top:290px;
position:absolute;
right:80px !important;
width:800px;
}
a {
color:#FFFFFF;
text-decoration:none;
text-shadow:none;
}
a:hover {
text-decoration:underline;
}
.table_header {
background-color:rgba(255, 255, 255, 0.498039);
}
.table_header:first-of-type {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:6px;
border-top-right-radius:0;
}
.table_header:nth-of-type(2) {
padding-left:35px;
text-align:left;
}
.table_header:last-of-type {
border-bottom-left-radius:0;
border-bottom-right-radius:0;
border-top-left-radius:0;
border-top-right-radius:6px;
}
.td1 {
background-color:rgba(70, 70, 70, 0.498039);
height:65px;
}
.td2 {
background-color:rgba(50, 50, 50, 0.498039);
height:65px;
}
.table_header, .td1, .td2, .status_selected, .status_not_selected, .category_totals {
border:0 none;
padding:4px;
text-align:center;
vertical-align:top;
}
.table_header, .td1, .td2, .category_totals {
color:white;
}
.borderRBL {
line-height:normal !important;
}
[cellspacing="0"] {
line-height:17px;
}
.category_totals {
background-color:rgba(255, 255, 255, 0.498039);
border-bottom-left-radius:6px;
border-bottom-right-radius:6px;
border-top-left-radius:0;
border-top-right-radius:0;
color:white;
text-align:center;
}
[class^="header_"] * {
background-repeat:no-repeat no-repeat;
font-size:0;
height:200px;
line-height:24px;
padding-bottom:4px;
text-align:right;
vertical-align:bottom;
}
.header_title {
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
border-top-left-radius:4px;
border-top-right-radius:4px;
color:#FFFFFF;
display:inline-block;
font-style:italic;
height:auto;
padding:0 8px 0 0;
text-shadow:rgba(0, 0, 0, 0.14902) 0 1px 1px;
}
#grand_totals {
background-color:transparent;
border:0 none;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#FFFFFF;
line-height:20px;
min-height:20px;
padding:8px;
text-align:center;
vertical-align:middle;
}
#copyright {
background-color:rgba(180, 32, 48, 0.6);
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
border-top-left-radius:3px;
border-top-right-radius:3px;
color:#EEEEEE;
line-height:17px;
margin-top:10px;
padding:8px;
text-align:center;
}
#copyright::after {
}
.hide {
background-color:rgba(248, 162, 200, 0.701961);
background-position:50% 50%;
background-repeat:no-repeat no-repeat;
background-size:cover;
border:1px solid #FFFFFF;
border-bottom-left-radius:7px;
border-bottom-right-radius:7px;
border-top-left-radius:7px;
border-top-right-radius:0;
display:inline-block !important;
height:55px;
margin-left:33px;
margin-top:-65px;
position:absolute;
width:35px;
}
.hide:hover {
background-color:transparent;
background-repeat:no-repeat no-repeat;
background-size:cover;
border-bottom-left-radius:20px;
border-bottom-right-radius:20px;
border-top-left-radius:20px;
border-top-right-radius:20px;
box-shadow:rgba(63, 52, 60, 0.54902) 0 0 8px 8px;
margin-left:-140px;
padding-right:150px;
padding-top:220px !important;
position:absolute;
z-index:1;
}
.td1:nth-of-type(2), .td2:nth-of-type(2) {
padding-left:35px;
text-align:left;
}
.td1:nth-of-type(6), .td2:nth-of-type(6) {
background-attachment:scroll;
background-color:transparent;
background-image:none;
background-position:0 0;
background-repeat:repeat repeat;
border-bottom-style:none !important;
border-bottom-width:medium !important;
display:inline-block;
font-size:87%;
height:0 !important;
left:70px;
line-height:16px !important;
margin-top:16px;
position:absolute;
text-align:justify !important;
width:720px;
z-index:2;
}
.table_header:nth-of-type(6) {
display:none;
}
span[id*="tagRow"] {
display:block !important;
}
span[id*="tagLinks"] {
display:none !important;
}
a, .td1, .td2, .category_totals {
-webkit-transition:all 0.25s ease-in-out 0s;
transition:all 0.25s ease-in-out 0s;
}
#list_surround .status_selected, #list_surround .status_not_selected {
-webkit-background-clip:padding-box !important;
background-clip:padding-box !important;
background-color:transparent;
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/donewatch_zpsca2e7ada.png);
background-position:100% 0;
background-repeat:no-repeat no-repeat;
background-size:contain;
border:1px solid transparent;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
border-top-left-radius:10px;
border-top-right-radius:10px;
display:block;
left:50px;
padding:0;
position:fixed;
top:30px;
width:350px;
}
#list_surround .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected {
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/donecomp_zps638c3a09.png);
background-position:100% 0;
top:130px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected {
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/donehold_zpsbc5c2cf9.png);
background-position:0 0;
top:230px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/donedrop_zps7408f3b1.png);
background-position:100% 0;
top:330px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/doneplan_zpsb28841ad.png);
background-position:0 0;
top:430px;
}
#list_surround .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, #list_surround .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background-image:url(http://i1308.photobucket.com/albums/s608/TheHolyPotato/Sakurasou/doneall_zpsf0e07cd3.png);
background-position:100% 0;
top:530px;
}
.status_selected a, .status_not_selected a, .status_selected:hover a, .status_not_selected:hover a {
color:transparent;
display:block;
font-size:0;
height:80px;
width:350px;
}
.header_cw {
background-color:transparent;
background-image:url(http://i47.tinypic.com/25f4r51.png);
background-position:0 -94px;
background-repeat:no-repeat no-repeat;
height:50px;
margin-bottom:0;
margin-top:-120px;
}
.header_completed {
background-color:transparent;
background-image:url(http://i50.tinypic.com/2hmqc1t.png);
background-position:0 -95px;
background-repeat:no-repeat no-repeat;
height:50px;
margin-bottom:0;
margin-top:-120px;
}
.header_onhold {
background-color:transparent;
background-image:url(http://i50.tinypic.com/34xs3es.png);
background-position:0 -85px;
background-repeat:no-repeat no-repeat;
height:50px;
margin-bottom:0;
margin-top:-120px;
}
.header_dropped {
background-color:transparent;
background-image:url(http://i45.tinypic.com/33fdlll.png);
background-position:0 -95px;
background-repeat:no-repeat no-repeat;
height:50px;
margin-bottom:0;
margin-top:-120px;
}
.header_ptw {
background-color:transparent;
background-image:url(http://i45.tinypic.com/15zqb6w.png);
background-position:0 -85px;
background-repeat:no-repeat no-repeat;
height:50px;
margin-bottom:0;
margin-top:-120px;
}
.status_selected {
display:block;
}
.status_not_selected {
display:block;
}
.status_not_selected {
opacity:0.7;
}
.status_not_selected:hover {
color:transparent;
opacity:1;
}
* {
-webkit-transition:all 0.25s ease-in-out;
transition:all 0.25s ease-in-out;
}
.animetitle + small {
color:#F5B800 !important;
font-size:87%;
font-weight:bold;
}

/*DVD COVER GLITCH FIX (Chrome/Safari/Firefox/Opera only)*/
.hide:hover:after {
background: transparent;
content: " ";
height: 75px;
left: 0;
position: absolute;
top: 0;
width: 210px;
z-index: 20;
}